<app-home></app-home>
<div class="component">
<div>
  <div class="groupButton">
    <input class="buttons" type="button" (click)="decreaseMonth()" value="-" />
    <input class="buttons middle displayMonth" type="button" (click)="setCurrentMonth()" value="{{displayMonth}} {{displayYear}}" />
    <input class="buttons" type="button" (click)="increaseMonth()" value="+" />
  </div>
</div>
<table class='calendar-table' *ngIf="calendar">
    <thead>
      <tr>
        <th>Lundi</th>
        <th>Mardi</th>
        <th>Mercredi</th>
        <th>Jeudi</th>
        <th>Vendredi</th>
        <th>Samedi</th>
        <th>Dimanche</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of calendar | CustomChunk: 7; let i = index">
        <td class="calendar-day" (click)="openDialog(case.date.getFullYear(),monthNames[case.date.getMonth()],case.date.getDate())" [ngClass]="{'past-date': case.isPastDate, 'today': case.isToday}" *ngFor="let case of row; let j = index">
          <div class="calendar-day-header" [ngClass]="{'blue-date': case.isToday}">
            <strong>
              {{case.date.getDate()}}
            </strong>
            <strong *ngIf="case.isToday || (i==0 && j==0) || (case.date.getDate() == 1)"> 
              {{monthNames[case.date.getMonth()]}}
            </strong>
          </div>
          <div class="calendar-day-content" (click)="modifyItem(item.idPDP); $event.stopPropagation()" *ngFor="let item of showItems(case.date.getFullYear(), monthNames[case.date.getMonth()], case.date.getDate())">
            {{item.titrePDP}}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  {{showList()}}

  
</div>