/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.content{
    margin:2%;
}
.item{
    margin:1%;
}
.btn{
    background-color: #00a0f5;
    color:white;
    border: #00a0f5;
}